<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- 구글 아이콘 -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"> <!-- 부트스트랩 css -->
    <link rel="stylesheet" href="/css/app/main.css"> <!-- main page css -->
</head>
<body>
    <h1 class="board-title">JPA 게시판</h1>
    <div class="col-md-12" id="divBoard">
        <div class="l-wrapper">
            <div class="board-buttons">
                <a href="/logout">로그아웃</a>
                </button>
            </div>
            <div class="board-buttons">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">
                    글 등록
                </button>
            </div>

            <!-- 목록 출력 영역 -->
            <div class="board-table-wrapper">
                <table class="table table-horizontal w-100 board-table" style="margin: 0 auto">
                    <thead class="thead-strong">
                    <tr>
                        <th class="text-center">게시글번호</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">작성자</th>
                        <th style="display: none;">내용</th>
                        <th class="text-center">작성일</th>
                        <th class="text-center">최종수정일</th>
                        <th class="text-center">수정/삭제</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#each posts}}
                        <tr>
                            <td class="text-center id">{{id}}</td>
                            <td class="text-center title showBoardDetail" data-toggle="modal" data-target="#showDetailModal">{{title}}</td>
                            <td class="text-center author">{{author}}</td>
                            <td class="content" style="display: none;">{{content}}</td>
                            <td class="text-center createdDate">{{createdDate}}</td>
                            <td class="text-center modifiedDate">{{modifiedDate}}</td>
                            <td class="text-center">
                                <button class="btn btn-secondary btn-xs modifyBoard" data-toggle="modal" data-target="#updatePostsModal">수정</button>
                                <button class="btn btn-danger btn-xs" onclick="delThisList(this)">삭제</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal 영역 -->
    <div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
<!--                        <div class="form-group mt-3">-->
<!--                            <label for="author">작성자</label>-->
<!--                            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">-->
<!--                        </div>-->
                        <div class="form-group mt-3">
                            <label for="content">내용</label>
                            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 게시글 상세 보기 -->
    <div class="modal fade" id="showDetailModal" tabindex="-1" role="dialog" aria-labelledby="showDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">게시글 상세 보기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="text-center form-group">
                            <input type="hidden" class="form-control" id="detailId" readonly>
                        </div>
                        <div class="form-group">
                            <label for="detailTitle">제목</label>
                            <input type="text" class="form-control" id="detailTitle" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="detailAuthor">작성자</label>
                            <input type="text" class="form-control" id="detailAuthor" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="detailContent">내용</label>
                            <input class="form-control" id="detailContent" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 수정 모달 영역 -->
    <div class="modal fade" id="updatePostsModal" tabindex="-1" role="dialog" aria-labelledby="updatePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePostsLabel">게시글 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="text-center form-group">
                            <input type="hidden" class="form-control" id="updateId">
                        </div>
                        <div class="form-group">
                            <label for="updateTitle">제목</label>
                            <input type="text" class="form-control" id="updateTitle" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group mt-3">
                            <label for="updateAuthor">작성자</label>
                            <input type="text" class="form-control" id="updateAuthor" placeholder="작성자를 입력하세요" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="updateContent">내용</label>
                            <textarea class="form-control" id="updateContent" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-modify" onclick="modify(this)">수정</button>
                </div>
            </div>
        </div>
    </div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/main.js"></script>
</body>
</html>